<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="imageGroups" type="System.Configuration.NameValueSectionHandler" />
    <section name="imageItems" type="System.Configuration.NameValueSectionHandler" />
    <section name="imageNames" type="System.Configuration.NameValueSectionHandler" />
    <section name="shipTypes" type="System.Configuration.NameValueSectionHandler" />
    <section name="implementations" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <shipTypes>
    <add key="Providence - Freighter - Amarr" value="PROVI" />
    <add key="Charon - Freighter - Caldari" value="CHARON" />
    <add key="Obelisk - Freighter - Gallente" value="OBELISK" />
    <add key="Fenrir - Freighter - Minmatar" value="FENRIR" />
    <add key="Ark - Jump Freighter - Amarr - Helium" value="ARK" />
    <add key="Rhea - Jump Freighter - Caldari - Nitrogen" value="RHEA" />
    <add key="Anshar - Jump Freighter - Gallente - Oxygen" value="ANSHAR" />
    <add key="Nomad - Jump Freighter - Minmatar - Hydrogen" value="NOMAD" />
    <add key="Orca - Industrial Command Ship" value="ORCA" />
    <add key="Bowhead - Freighter - ORE" value="BOWHEAD" />
  </shipTypes>
  <appSettings>
    <add key="appWidth" value="590" />
    <add key="appHeight" value="574" />
    <add key="windowPosX" value="-1" />
    <add key="windowPosY" value="-1" />
    <add key="showExtra" value="true" />
    <add key="CaptureClipboard" value="true" />
    <add key="alwaysOnTop" value="false" />
    <add key="KeepLocation" value="true" />
    <add key="debugLevel" value="results"/>
    <add key="logFile" value="evescanner.log"/>
    <add key="location1" value="Perimeter -> Urlen"/>
    <add key="location2" value="Ashab -> Madirmilire"/>
    <add key="location3" value="Hatakani -> Sivala"/>
  </appSettings>
  <imageGroups>
    <add key="1" value="images\t2.png" />
    <add key="2" value="images\wrap.png" />
    <add key="3" value="images\containers.png" />
    <add key="4" value="images\isotope.png" />
    <add key="5" value="images\dickbee.png" />
    <add key="99" value="images\fedo.png" />
  </imageGroups>
  <imageNames>
    <add key="1" value="T2 BPO" />
    <add key="2" value="WRAP" />
    <add key="3" value="CONTAINER" />
    <add key="4" value="FUEL" />
    <add key="5" value="$$$ BPO" />
    <add key="99" value="FEDO" />
  </imageNames>
  <imageItems>
    <add key="Fedo" value="99" />

    <add key="Aeon Blueprint" value="5" />
    <add key="Archon Blueprint" value="5" />
    <add key="Chimera Blueprint" value="5" />
    <add key="Wyvern Blueprint" value="5" />
    <add key="Nyx Blueprint" value="5" />
    <add key="Thanatos Blueprint" value="5" />
    <add key="Hel Blueprint" value="5" />
    <add key="Nidhoggur Blueprint" value="5" />
    <add key="Revelation Blueprint" value="5" />
    <add key="Phoenix Blueprint" value="5" />
    <add key="Moros Blueprint" value="5" />
    <add key="Naglfar Blueprint" value="5" />
    <add key="Avatar Blueprint" value="5" />
    <add key="Leviathan Blueprint" value="5" />
    <add key="Erebus Blueprint" value="5" />
    <add key="Ragnarok Blueprint" value="5" />
    <add key="Providence Blueprint" value="5" />
    <add key="Charon Blueprint" value="5" />
    <add key="Obelisk Blueprint" value="5" />
    <add key="Fenrir Blueprint" value="5" />
    <add key="Bowhead Blueprint" value="5" />
    <add key="Covetor Blueprint" value="5" />
    <add key="Procurer Blueprint" value="5" />
    <add key="Retriever Blueprint" value="5" />
    <add key="Orca Blueprint" value="5" />
    <add key="Rorqual Blueprint" value="5" />
    <add key="Abaddon Blueprint" value="5" />
    <add key="Apocalypse Blueprint" value="5" />
    <add key="Armageddon Blueprint" value="5" />
    <add key="Raven Blueprint" value="5" />
    <add key="Rokh Blueprint" value="5" />
    <add key="Scorpion Blueprint" value="5" />
    <add key="Dominix Blueprint" value="5" />
    <add key="Hyperion Blueprint" value="5" />
    <add key="Megathron Blueprint" value="5" />
    <add key="Maelstrom Blueprint" value="5" />
    <add key="Tempest Blueprint" value="5" />
    <add key="Typhoon Blueprint" value="5" />
    <add key="Capital Armor Plates Blueprint" value="5" />
    <add key="Capital Capacitor Battery Blueprint" value="5" />
    <add key="Capital Cargo Bay Blueprint" value="5" />
    <add key="Capital Clone Vat Bay Blueprint" value="5" />
    <add key="Capital Computer System Blueprint" value="5" />
    <add key="Capital Construction Parts Blueprint" value="5" />
    <add key="Capital Corporate Hangar Bay Blueprint" value="5" />
    <add key="Capital Doomsday Weapon Mount Blueprint" value="5" />
    <add key="Capital Drone Bay Blueprint" value="5" />
    <add key="Capital Jump Bridge Array Blueprint" value="5" />
    <add key="Capital Jump Drive Blueprint" value="5" />
    <add key="Capital Launcher Hardpoint Blueprint" value="5" />
    <add key="Capital Power Generator Blueprint" value="5" />
    <add key="Capital Propulsion Engine Blueprint" value="5" />
    <add key="Capital Sensor Cluster Blueprint" value="5" />
    <add key="Capital Shield Emitter Blueprint" value="5" />
    <add key="Capital Ship Maintenance Bay Blueprint" value="5" />
    <add key="Capital Siege Array Blueprint" value="5" />
    <add key="Capital Turret Hardpoint Blueprint" value="5" />
    <add key="Amarr Factory Outpost Platform Blueprint" value="5" />
    <add key="Caldari Research Outpost Platform Blueprint" value="5" />
    <add key="Gallente Administrative Outpost Platform Blueprint" value="5" />
    <add key="Minmatar Service Outpost Platform Blueprint" value="5" />
    <add key="Survey Networks 4 Blueprint" value="5" />
    <add key="Survey Networks 5 Blueprint" value="5" />
    <add key="Ore Prospecting Array 5 Blueprint" value="5" />
    <add key="Entrapment Array 2 Blueprint" value="5" />
    <add key="Entrapment Array 3 Blueprint" value="5" />
    <add key="Entrapment Array 4 Blueprint" value="5" />
    <add key="Entrapment Array 5 Blueprint" value="5" />
    <add key="Entrapment Array 2 Blueprint" value="5" />
    <add key="Entrapment Array 3 Blueprint" value="5" />
    <add key="Entrapment Array 4 Blueprint" value="5" />
    <add key="Entrapment Array 5 Blueprint" value="5" />
    <add key="Quantum Flux Generator 4 Blueprint" value="5" />
    <add key="Quantum Flux Generator 5 Blueprint" value="5" />
    <add key="Advanced Logistics Network Blueprint" value="5" />
    <add key="Cynosural Suppression Blueprint" value="5" />

    <add key="Enormous Freight Container" value="3" />
    <add key="Giant Freight Container" value="3" />
    <add key="Huge Freight Container" value="3" />
    <add key="Large Freight Container" value="3" />
    <add key="Medium Freight Container" value="3" />
    <add key="Small Freight Container" value="3" />
    <add key="Colossal Secure Container" value="3" />
    <add key="Giant Secure Container" value="3" />
    <add key="Huge Secure Container" value="3" />
    <add key="Large Audit Log Secure Container" value="3" />
    <add key="Large Secure Container" value="3" />
    <add key="Medium Audit Log Secure Container" value="3" />
    <add key="Medium Secure Container" value="3" />
    <add key="Small Audit Log Secure Container" value="3" />
    <add key="Small Secure Container" value="3" />
    <add key="Large Standard Container" value="3" />
    <add key="Medium Standard Container" value="3" />
    <add key="Small Standard Container" value="3" />

    <add key="Hydrogen Isotopes" value="4" />
    <add key="Nitrogen Isotopes" value="4" />
    <add key="Helium Isotopes" value="4" />
    <add key="Oxygen Isotopes" value="4" />

    <add key="Arkonor Mining Crystal II Blueprint" value="1" />
    <add key="Aurora L Blueprint" value="1" />
    <add key="Aurora M Blueprint" value="1" />
    <add key="Aurora S Blueprint" value="1" />
    <add key="Barrage L Blueprint" value="1" />
    <add key="Barrage M Blueprint" value="1" />
    <add key="Barrage S Blueprint" value="1" />
    <add key="Bistot Mining Crystal II Blueprint" value="1" />
    <add key="Conflagration L Blueprint" value="1" />
    <add key="Conflagration M Blueprint" value="1" />
    <add key="Conflagration S Blueprint" value="1" />
    <add key="Crokite Mining Crystal II Blueprint" value="1" />
    <add key="Dark Ochre Mining Crystal II Blueprint" value="1" />
    <add key="Gleam L Blueprint" value="1" />
    <add key="Gleam M Blueprint" value="1" />
    <add key="Gleam S Blueprint" value="1" />
    <add key="Gneiss Mining Crystal II Blueprint" value="1" />
    <add key="Hail L Blueprint" value="1" />
    <add key="Hail M Blueprint" value="1" />
    <add key="Hail S Blueprint" value="1" />
    <add key="Hedbergite Mining Crystal II Blueprint" value="1" />
    <add key="Hemorphite Mining Crystal II Blueprint" value="1" />
    <add key="Inferno Fury Cruise Missile Blueprint" value="1" />
    <add key="Inferno Fury Heavy Missile Blueprint" value="1" />
    <add key="Inferno Fury Light Missile Blueprint" value="1" />
    <add key="Inferno Javelin Heavy Assault Missile Blueprint" value="1" />
    <add key="Inferno Javelin Rocket Blueprint" value="1" />
    <add key="Inferno Javelin Torpedo Blueprint" value="1" />
    <add key="Inferno Precision Cruise Missile Blueprint" value="1" />
    <add key="Inferno Precision Heavy Missile Blueprint" value="1" />
    <add key="Inferno Precision Light Missile Blueprint" value="1" />
    <add key="Inferno Rage Heavy Assault Missile Blueprint" value="1" />
    <add key="Inferno Rage Rocket Blueprint" value="1" />
    <add key="Inferno Rage Torpedo Blueprint" value="1" />
    <add key="Jaspet Mining Crystal II Blueprint" value="1" />
    <add key="Javelin L Blueprint" value="1" />
    <add key="Javelin M Blueprint" value="1" />
    <add key="Javelin S Blueprint" value="1" />
    <add key="Kernite Mining Crystal II Blueprint" value="1" />
    <add key="Mercoxit Mining Crystal II Blueprint" value="1" />
    <add key="Mjolnir Fury Cruise Missile Blueprint" value="1" />
    <add key="Mjolnir Fury Heavy Missile Blueprint" value="1" />
    <add key="Mjolnir Fury Light Missile Blueprint" value="1" />
    <add key="Mjolnir Javelin Heavy Assault Missile Blueprint" value="1" />
    <add key="Mjolnir Javelin Rocket Blueprint" value="1" />
    <add key="Mjolnir Javelin Torpedo Blueprint" value="1" />
    <add key="Mjolnir Precision Cruise Missile Blueprint" value="1" />
    <add key="Mjolnir Precision Heavy Missile Blueprint" value="1" />
    <add key="Mjolnir Precision Light Missile Blueprint" value="1" />
    <add key="Mjolnir Rage Heavy Assault Missile Blueprint" value="1" />
    <add key="Mjolnir Rage Rocket Blueprint" value="1" />
    <add key="Mjolnir Rage Torpedo Blueprint" value="1" />
    <add key="Mobile Medium Warp Disrupter II Blueprint" value="1" />
    <add key="Mobile Small Warp Disrupter II Blueprint" value="1" />
    <add key="Nova Fury Cruise Missile Blueprint" value="1" />
    <add key="Nova Fury Heavy Missile Blueprint" value="1" />
    <add key="Nova Fury Light Missile Blueprint" value="1" />
    <add key="Nova Javelin Heavy Assault Missile Blueprint" value="1" />
    <add key="Nova Javelin Rocket Blueprint" value="1" />
    <add key="Nova Javelin Torpedo Blueprint" value="1" />
    <add key="Nova Precision Cruise Missile Blueprint" value="1" />
    <add key="Nova Precision Heavy Missile Blueprint" value="1" />
    <add key="Nova Precision Light Missile Blueprint" value="1" />
    <add key="Nova Rage Heavy Assault Missile Blueprint" value="1" />
    <add key="Nova Rage Rocket Blueprint" value="1" />
    <add key="Nova Rage Torpedo Blueprint" value="1" />
    <add key="Null L Blueprint" value="1" />
    <add key="Null M Blueprint" value="1" />
    <add key="Null S Blueprint" value="1" />
    <add key="Omber Mining Crystal II Blueprint" value="1" />
    <add key="Plagioclase Mining Crystal II Blueprint" value="1" />
    <add key="Pyroxeres Mining Crystal II Blueprint" value="1" />
    <add key="Quake L Blueprint" value="1" />
    <add key="Quake M Blueprint" value="1" />
    <add key="Quake S Blueprint" value="1" />
    <add key="Scorch L Blueprint" value="1" />
    <add key="Scorch M Blueprint" value="1" />
    <add key="Scorch S Blueprint" value="1" />
    <add key="Scordite Mining Crystal II Blueprint" value="1" />
    <add key="Scourge Fury Cruise Missile Blueprint" value="1" />
    <add key="Scourge Fury Heavy Missile Blueprint" value="1" />
    <add key="Scourge Fury Light Missile Blueprint" value="1" />
    <add key="Scourge Javelin Heavy Assault Missile Blueprint" value="1" />
    <add key="Scourge Javelin Rocket Blueprint" value="1" />
    <add key="Scourge Javelin Torpedo Blueprint" value="1" />
    <add key="Scourge Precision Cruise Missile Blueprint" value="1" />
    <add key="Scourge Precision Heavy Missile Blueprint" value="1" />
    <add key="Scourge Precision Light Missile Blueprint" value="1" />
    <add key="Scourge Rage Heavy Assault Missile Blueprint" value="1" />
    <add key="Scourge Rage Rocket Blueprint" value="1" />
    <add key="Scourge Rage Torpedo Blueprint" value="1" />
    <add key="Spike L Blueprint" value="1" />
    <add key="Spike M Blueprint" value="1" />
    <add key="Spike S Blueprint" value="1" />
    <add key="Spodumain Mining Crystal II Blueprint" value="1" />
    <add key="Tremor L Blueprint" value="1" />
    <add key="Tremor M Blueprint" value="1" />
    <add key="Tremor S Blueprint" value="1" />
    <add key="Veldspar Mining Crystal II Blueprint" value="1" />
    <add key="Void L Blueprint" value="1" />
    <add key="Void M Blueprint" value="1" />
    <add key="Void S Blueprint" value="1" />
    <add key="100mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="100MN Afterburner II Blueprint" value="1" />
    <add key="100MN Microwarpdrive II Blueprint" value="1" />
    <add key="10MN Afterburner II Blueprint" value="1" />
    <add key="10MN Microwarpdrive II Blueprint" value="1" />
    <add key="1200mm Artillery Cannon II Blueprint" value="1" />
    <add key="125mm Gatling AutoCannon II Blueprint" value="1" />
    <add key="125mm Railgun II Blueprint" value="1" />
    <add key="1400mm Howitzer Artillery II Blueprint" value="1" />
    <add key="150mm Light AutoCannon II Blueprint" value="1" />
    <add key="150mm Railgun II Blueprint" value="1" />
    <add key="1600mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="1MN Afterburner II Blueprint" value="1" />
    <add key="1MN Microwarpdrive II Blueprint" value="1" />
    <add key="200mm AutoCannon II Blueprint" value="1" />
    <add key="200mm Railgun II Blueprint" value="1" />
    <add key="200mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="220mm Vulcan AutoCannon II Blueprint" value="1" />
    <add key="250mm Light Artillery Cannon II Blueprint" value="1" />
    <add key="250mm Railgun II Blueprint" value="1" />
    <add key="280mm Howitzer Artillery II Blueprint" value="1" />
    <add key="350mm Railgun II Blueprint" value="1" />
    <add key="400mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="425mm AutoCannon II Blueprint" value="1" />
    <add key="425mm Railgun II Blueprint" value="1" />
    <add key="50mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="650mm Artillery Cannon II Blueprint" value="1" />
    <add key="720mm Howitzer Artillery II Blueprint" value="1" />
    <add key="75mm Gatling Rail II Blueprint" value="1" />
    <add key="800mm Reinforced Steel Plates II Blueprint" value="1" />
    <add key="800mm Repeating Artillery II Blueprint" value="1" />
    <add key="Acolyte II Blueprint" value="1" />
    <add key="Adaptive Invulnerability Field II Blueprint" value="1" />
    <add key="Adaptive Nano Plating II Blueprint" value="1" />
    <add key="Armor EM Hardener II Blueprint" value="1" />
    <add key="Armor Explosive Hardener II Blueprint" value="1" />
    <add key="Armor Kinetic Hardener II Blueprint" value="1" />
    <add key="Armor Thermic Hardener II Blueprint" value="1" />
    <add key="Ballistic Control System II Blueprint" value="1" />
    <add key="Berserker II Blueprint" value="1" />
    <add key="Cap Recharger II Blueprint" value="1" />
    <add key="Capacitor Power Relay II Blueprint" value="1" />
    <add key="Co-Processor II Blueprint" value="1" />
    <add key="Covert Ops Cloaking Device II Blueprint" value="1" />
    <add key="Cruise Missile Launcher II Blueprint" value="1" />
    <add key="Dual 150mm Railgun II Blueprint" value="1" />
    <add key="Dual 180mm AutoCannon II Blueprint" value="1" />
    <add key="Dual 250mm Railgun II Blueprint" value="1" />
    <add key="Dual 425mm AutoCannon II Blueprint" value="1" />
    <add key="Dual 650mm Repeating Artillery II Blueprint" value="1" />
    <add key="Dual Heavy Beam Laser II Blueprint" value="1" />
    <add key="Dual Heavy Pulse Laser II Blueprint" value="1" />
    <add key="Dual Light Beam Laser II Blueprint" value="1" />
    <add key="Dual Light Pulse Laser II Blueprint" value="1" />
    <add key="ECM - Ion Field Projector II Blueprint" value="1" />
    <add key="ECM - Multispectral Jammer II Blueprint" value="1" />
    <add key="ECM - Phase Inverter II Blueprint" value="1" />
    <add key="ECM - Spatial Destabilizer II Blueprint" value="1" />
    <add key="ECM - White Noise Generator II Blueprint" value="1" />
    <add key="ECM Burst II Blueprint" value="1" />
    <add key="Electron Blaster Cannon II Blueprint" value="1" />
    <add key="EM Plating II Blueprint" value="1" />
    <add key="EM Ward Amplifier II Blueprint" value="1" />
    <add key="EM Ward Field II Blueprint" value="1" />
    <add key="Energized Adaptive Nano Membrane II Blueprint" value="1" />
    <add key="Energized Armor Layering Membrane II Blueprint" value="1" />
    <add key="Energized EM Membrane II Blueprint" value="1" />
    <add key="Energized Explosive Membrane II Blueprint" value="1" />
    <add key="Energized Kinetic Membrane II Blueprint" value="1" />
    <add key="Energized Thermic Membrane II Blueprint" value="1" />
    <add key="Expanded Cargohold II Blueprint" value="1" />
    <add key="Explosive Deflection Amplifier II Blueprint" value="1" />
    <add key="Explosive Deflection Field II Blueprint" value="1" />
    <add key="Explosive Plating II Blueprint" value="1" />
    <add key="Focused Medium Beam Laser II Blueprint" value="1" />
    <add key="Focused Medium Pulse Laser II Blueprint" value="1" />
    <add key="Gatling Pulse Laser II Blueprint" value="1" />
    <add key="Gravimetric Backup Array II Blueprint" value="1" />
    <add key="Gyrostabilizer II Blueprint" value="1" />
    <add key="Hammerhead II Blueprint" value="1" />
    <add key="Heat Sink II Blueprint" value="1" />
    <add key="Heavy Assault Missile Launcher II Blueprint" value="1" />
    <add key="Heavy Beam Laser II Blueprint" value="1" />
    <add key="Heavy Capacitor Booster II Blueprint" value="1" />
    <add key="Heavy Electron Blaster II Blueprint" value="1" />
    <add key="Heavy Energy Neutralizer II Blueprint" value="1" />
    <add key="Heavy Ion Blaster II Blueprint" value="1" />
    <add key="Heavy Missile Launcher II Blueprint" value="1" />
    <add key="Heavy Neutron Blaster II Blueprint" value="1" />
    <add key="Heavy Nosferatu II Blueprint" value="1" />
    <add key="Heavy Pulse Laser II Blueprint" value="1" />
    <add key="Hobgoblin II Blueprint" value="1" />
    <add key="Hornet II Blueprint" value="1" />
    <add key="Improved Cloaking Device II Blueprint" value="1" />
    <add key="Infiltrator II Blueprint" value="1" />
    <add key="Ion Blaster Cannon II Blueprint" value="1" />
    <add key="Kinetic Deflection Amplifier II Blueprint" value="1" />
    <add key="Kinetic Deflection Field II Blueprint" value="1" />
    <add key="Kinetic Plating II Blueprint" value="1" />
    <add key="LADAR Backup Array II Blueprint" value="1" />
    <add key="Large Armor Repairer II Blueprint" value="1" />
    <add key="Large Capacitor Battery II Blueprint" value="1" />
    <add key="Large Remote Capacitor Transmitter II Blueprint" value="1" />
    <add key="Large Shield Booster II Blueprint" value="1" />
    <add key="Large Shield Extender II Blueprint" value="1" />
    <add key="Layered Plating II Blueprint" value="1" />
    <add key="Light Electron Blaster II Blueprint" value="1" />
    <add key="Light Ion Blaster II Blueprint" value="1" />
    <add key="Light Missile Launcher II Blueprint" value="1" />
    <add key="Light Neutron Blaster II Blueprint" value="1" />
    <add key="Magnetic Field Stabilizer II Blueprint" value="1" />
    <add key="Magnetometric Backup Array II Blueprint" value="1" />
    <add key="Medium Armor Repairer II Blueprint" value="1" />
    <add key="Medium Capacitor Battery II Blueprint" value="1" />
    <add key="Medium Capacitor Booster II Blueprint" value="1" />
    <add key="Medium EM Smartbomb II Blueprint" value="1" />
    <add key="Medium Energy Neutralizer II Blueprint" value="1" />
    <add key="Medium Graviton Smartbomb II Blueprint" value="1" />
    <add key="Medium Nosferatu II Blueprint" value="1" />
    <add key="Medium Plasma Smartbomb II Blueprint" value="1" />
    <add key="Medium Proton Smartbomb II Blueprint" value="1" />
    <add key="Medium Remote Capacitor Transmitter II Blueprint" value="1" />
    <add key="Medium Remote Shield Booster II Blueprint" value="1" />
    <add key="Medium Shield Booster II Blueprint" value="1" />
    <add key="Medium Shield Extender II Blueprint" value="1" />
    <add key="Mega Beam Laser II Blueprint" value="1" />
    <add key="Mega Pulse Laser II Blueprint" value="1" />
    <add key="Miner II Blueprint" value="1" />
    <add key="Mining Drone II Blueprint" value="1" />
    <add key="Modulated Deep Core Miner II Blueprint" value="1" />
    <add key="Modulated Deep Core Strip Miner II Blueprint" value="1" />
    <add key="Modulated Strip Miner II Blueprint" value="1" />
    <add key="Neutron Blaster Cannon II Blueprint" value="1" />
    <add key="Ogre II Blueprint" value="1" />
    <add key="Power Diagnostic System II Blueprint" value="1" />
    <add key="Praetor II Blueprint" value="1" />
    <add key="Quad Light Beam Laser II Blueprint" value="1" />
    <add key="RADAR Backup Array II Blueprint" value="1" />
    <add key="Rapid Heavy Missile Launcher II Blueprint" value="1" />
    <add key="Rapid Light Missile Launcher II Blueprint" value="1" />
    <add key="Reactor Control Unit II Blueprint" value="1" />
    <add key="Remote Sensor Booster II Blueprint" value="1" />
    <add key="Remote Sensor Dampener II Blueprint" value="1" />
    <add key="Remote Tracking Computer II Blueprint" value="1" />
    <add key="Rocket Launcher II Blueprint" value="1" />
    <add key="Sensor Booster II Blueprint" value="1" />
    <add key="Shield Boost Amplifier II Blueprint" value="1" />
    <add key="Shield Recharger II Blueprint" value="1" />
    <add key="Signal Amplifier II Blueprint" value="1" />
    <add key="Signal Distortion Amplifier II Blueprint" value="1" />
    <add key="Small Armor Repairer II Blueprint" value="1" />
    <add key="Small Capacitor Battery II Blueprint" value="1" />
    <add key="Small Capacitor Booster II Blueprint" value="1" />
    <add key="Small EM Smartbomb II Blueprint" value="1" />
    <add key="Small Energy Neutralizer II Blueprint" value="1" />
    <add key="Small Focused Beam Laser II Blueprint" value="1" />
    <add key="Small Focused Pulse Laser II Blueprint" value="1" />
    <add key="Small Graviton Smartbomb II Blueprint" value="1" />
    <add key="Small Nosferatu II Blueprint" value="1" />
    <add key="Small Plasma Smartbomb II Blueprint" value="1" />
    <add key="Small Proton Smartbomb II Blueprint" value="1" />
    <add key="Small Remote Capacitor Transmitter II Blueprint" value="1" />
    <add key="Small Remote Shield Booster II Blueprint" value="1" />
    <add key="Small Shield Booster II Blueprint" value="1" />
    <add key="Small Shield Extender II Blueprint" value="1" />
    <add key="Tachyon Beam Laser II Blueprint" value="1" />
    <add key="Target Painter II Blueprint" value="1" />
    <add key="Thermic Dissipation Amplifier II Blueprint" value="1" />
    <add key="Thermic Dissipation Field II Blueprint" value="1" />
    <add key="Thermic Plating II Blueprint" value="1" />
    <add key="Torpedo Launcher II Blueprint" value="1" />
    <add key="Tracking Computer II Blueprint" value="1" />
    <add key="Tracking Disruptor II Blueprint" value="1" />
    <add key="Tracking Enhancer II Blueprint" value="1" />
    <add key="Valkyrie II Blueprint" value="1" />
    <add key="Vespa II Blueprint" value="1" />
    <add key="Warrior II Blueprint" value="1" />
    <add key="Wasp II Blueprint" value="1" />
    <add key="X-Large Shield Booster II Blueprint" value="1" />
    <add key="Standard Missile Launcher II Blueprint" value="1" />
    <add key="Damage Control II Blueprint" value="1" />
    <add key="Absolution Blueprint" value="1" />
    <add key="Anathema Blueprint" value="1" />
    <add key="Arazu Blueprint" value="1" />
    <add key="Ares Blueprint" value="1" />
    <add key="Astarte Blueprint" value="1" />
    <add key="Basilisk Blueprint" value="1" />
    <add key="Bustard Blueprint" value="1" />
    <add key="Buzzard Blueprint" value="1" />
    <add key="Cerberus Blueprint" value="1" />
    <add key="Cheetah Blueprint" value="1" />
    <add key="Claw Blueprint" value="1" />
    <add key="Claymore Blueprint" value="1" />
    <add key="Crane Blueprint" value="1" />
    <add key="Crow Blueprint" value="1" />
    <add key="Crusader Blueprint" value="1" />
    <add key="Curse Blueprint" value="1" />
    <add key="Damnation Blueprint" value="1" />
    <add key="Deimos Blueprint" value="1" />
    <add key="Eagle Blueprint" value="1" />
    <add key="Enyo Blueprint" value="1" />
    <add key="Eos Blueprint" value="1" />
    <add key="Eris Blueprint" value="1" />
    <add key="Falcon Blueprint" value="1" />
    <add key="Flycatcher Blueprint" value="1" />
    <add key="Guardian Blueprint" value="1" />
    <add key="Harpy Blueprint" value="1" />
    <add key="Hawk Blueprint" value="1" />
    <add key="Helios Blueprint" value="1" />
    <add key="Heretic Blueprint" value="1" />
    <add key="Hound Blueprint" value="1" />
    <add key="Huginn Blueprint" value="1" />
    <add key="Hulk Blueprint" value="1" />
    <add key="Impel Blueprint" value="1" />
    <add key="Ishkur Blueprint" value="1" />
    <add key="Ishtar Blueprint" value="1" />
    <add key="Jaguar Blueprint" value="1" />
    <add key="Lachesis Blueprint" value="1" />
    <add key="Mackinaw Blueprint" value="1" />
    <add key="Malediction Blueprint" value="1" />
    <add key="Manticore Blueprint" value="1" />
    <add key="Mastodon Blueprint" value="1" />
    <add key="Muninn Blueprint" value="1" />
    <add key="Nemesis Blueprint" value="1" />
    <add key="Nighthawk Blueprint" value="1" />
    <add key="Occator Blueprint" value="1" />
    <add key="Oneiros Blueprint" value="1" />
    <add key="Pilgrim Blueprint" value="1" />
    <add key="Prorator Blueprint" value="1" />
    <add key="Prowler Blueprint" value="1" />
    <add key="Purifier Blueprint" value="1" />
    <add key="Rapier Blueprint" value="1" />
    <add key="Raptor Blueprint" value="1" />
    <add key="Retribution Blueprint" value="1" />
    <add key="Rook Blueprint" value="1" />
    <add key="Sabre Blueprint" value="1" />
    <add key="Sacrilege Blueprint" value="1" />
    <add key="Scimitar Blueprint" value="1" />
    <add key="Skiff Blueprint" value="1" />
    <add key="Sleipnir Blueprint" value="1" />
    <add key="Stiletto Blueprint" value="1" />
    <add key="Taranis Blueprint" value="1" />
    <add key="Vagabond Blueprint" value="1" />
    <add key="Vengeance Blueprint" value="1" />
    <add key="Viator Blueprint" value="1" />
    <add key="Vulture Blueprint" value="1" />
    <add key="Wolf Blueprint" value="1" />
    <add key="Zealot Blueprint" value="1" />

    <add key="Plastic Wrap" value="2" />
  </imageItems>
  <implementations>
    <!-- <add key="IScanHistory" value="EveScanner.Core.ListScanHistory, EveScanner.Core, Culture=neutral, PublicKeyToken=f45fd9b5927f081e" /> -->
    <add key="IScanHistory" value="EveScanner.SQLiteStorage.SQLiteScanHistory, EveScanner.SQLiteStorage, Culture=neutral, PublicKeyToken=f45fd9b5927f081e" />
  </implementations>
</configuration>
