<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SDEProvider" connectionString="Data Source=c:\temp\scanner_sde.sqlite;Version=3;" />
    <add name="EDEProvider" connectionString="Data Source=c:\temp\scanner_sde.sqlite;Version=3;" />
  </connectionStrings>
</configuration>