<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLiteScanHistory" connectionString="Data Source=ScanHistory.db;Version=3;" />
    <add name="SQLiteStaticDataProvider" connectionString="Data Source=c:\temp\scanner_sde.sqlite;Version=3;" />
    <add name="SQLiteExtraDataProvider" connectionString="Data Source=c:\temp\scanner_sde.sqlite;Version=3;" />
  </connectionStrings>
</configuration>